* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(#ffffff, #69f457);
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: #49ad3c;
}

.faq {
  width: 75%;
  min-height: 450px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 5px solid #69f457;
}

.faq .ilustracao {
  width: 10rem;
  height: 25rem;
  object-fit: cover;
  border: 5px solid #69f457;
  border-radius: 200px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.7);
  position: relative;
  left: -120px;
  width: 50%;
  margin: 50px 0;
}

.faq .ilustracao:hover {
  transform: rotate3d(3, 2, 1, 10deg);
}

.faq .conteudo {
  position: relative;
  left: -30px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  overflow: auto;
}

.faq .conteudo h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.faq .conteudo .itens:not(.item.ativo .curiosidades, .item.ativo .curiosidade) {
  list-style: none;
}

.faq .conteudo .itens .item {
  background-image: url(./src/seta-para-baixo.png);
  background-repeat: no-repeat;
  background-position: top 8px right 0;
  background-size: 12px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.faq .conteudo .itens .item:last-child {
  border-bottom: none;
}

.item .pergunta {
  cursor: pointer;
  padding-bottom: 15px;
  font-size: 18px;
  width: 90%;
  transition: 0.2s ease;
}

.item .pergunta:hover {
  cursor: pointer;
  color: #49ad3c;
}

.item .resposta,
.fonte,
.curiosidades {
  display: none;
  padding-bottom: 15px;
}

/* Estilos do item ativo */

.faq .itens .item.ativo h2 {
  font-weight: 700;
}

.faq .itens .item.ativo .resposta,
.faq .itens .item.ativo .curiosidades,
.faq .itens .item.ativo .fonte {
  display: block;
  text-align: justify;
  max-height: 50%;
}

/*
.item.ativo .curiosidades,
.item.ativo .curiosidades .curiosidade {
  list-style: disc;
} 
*/

a {
  cursor: crosshair;
}

.fonte {
  font-size: 13px;
}

.faq .itens .item.ativo {
  background-image: url(./src/seta-para-cima.png);
}

/* Responsividade */

@media (max-width: 1140px) {
  .faq {
    flex-direction: column;
    width: 90%;
  }

  .faq .conteudo {
    width: 100%;
  }

  .faq .conteudo h1 {
    font-size: 24px;
    text-align: center;
  }

  .faq .itens {
    width: 80%;
    margin: 0 auto;
  }

  .faq .itens .pergunta {
    font-size: 16px;
  }

  .faq .ilustracao {
    width: 40%;
    left: 0;
    margin: 30px 0;
  }
}

@media (max-width: 425px) {
  .faq {
    height: 540px;
  }
}
